How to connect between  two 6LoWPAN routers  without Border router?

Hi,

If I want to transfer datum between two 6LoWPAN  nodes ,it seem like must have a Border router.But I donn't want to use Border router,how to set ?

thanks,
jliu

Standard 6LoWPAN mode (as per RFC 4944, RFC 6775 etc) and the RPL routing we support (RFC 6550) requires one device to be in border router mode.

That device takes on the memory requirements of maintaining routing information, so all the other nodes don't have to - it's deliberately asymmetrical. The system is optimised for 6LoWPAN<->outside internet communication, rather than devices talking to each other.

If you want a more peer-to-peer network, Thread mode permits operation without designating a border router. Two router-capable devices will associate with each other, and will automatically nominate one as the leader.
